<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %>
<br>
<form action="/questions" method="post">
  <label>Title:</label><br>
  <input type="text" name="question[title]"><br><br>
  <label>Question:</label><br>
  <textarea name="question[body]"></textarea><br>
  <label>Add Tags:</label><br>
  <input type="text" name="tags">
  <input type="submit" value="Create Post"><br>
</form>
<br><br>
