<%if @errors %>
  <%=erb :_errors%>
<%end%>

<form action="/questions" method="post">
  <label>Title:</label>
  <input type="text" name="question[title]">
  <label>Question:</label>
  <textarea name="question[body]"></textarea>
  <label>Add Tags:</label>
  <input type="text" name="tags">
  <input type="submit" value="Create Post"><br>
</form>
