<% if @errors %>
<% erb :'_errors', layout: false %>
<% end %>

<h2>Log in</h2>
<form method="post" action='/sessions/login'>
<h3>Username:</h3>
<input type="text" name="user[username]" placeholder="Username"><br>
<h3>Password:</h3>
<input type="password" name= "user[password]" placeholder="Password"><br>
<input type="submit" value="Login">
