


<h2>Create a New User</h2>
<form method="post" action="/users">
<input type="text" name="user[username]" placeholder="Username">
<input type="email" name="user[email]" placeholder="Email">
<input type="password" name="user[password]" placeholder="Password">
<input type="submit" value="Register">
