<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %>
<h2>Register!</h2>
<form method="post" action="/users">
<h3>Username:</h3>
<input type="text" name="user[username]" placeholder="Username"><br>
<h3>Email:</h3>
<input type="email" name="user[email]" placeholder="Email"><br>
<h3>Password:</h3>
<input type="password" name="user[password]" placeholder="Password"><br>
<input type="submit" value="Register"><br>
