<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %>
<form method="post" action="/users">
  <div class="imgcontainer">
    <img src=http://i.imgur.com/xOBqOo5.gif" alt="Avatar" class="avatar">
  </div>
	<h2>Register!</h2>
  <div class="container">
    <br><label><b>Username</b></label><br>
   <input type="text" name="user[username]" placeholder="Username"> 
   <h3>Email:</h3>
<input type="email" name="user[email]" placeholder="Email"><br>
   <br> <label><b>Password</b></label><br>

   <input type="password" name= "user[password]" placeholder="Password">   
    <button type="submit">Register</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
  </div>
</form>
</body>
</html>