<%if @errors %>
  <%=erb :_errors%>
<%end%>

<form action="/answers/<%=@answer.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Answer:</label>
  <textarea name="answer[body]"><%=@answer.body%></textarea>
  <input type="submit" value="Edit Answer"><br>
</form>

<form action="/answers/<%=@answer.id%>%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post"><br>
</form>
