<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %>
<br>
<form action="/answers/<%=@answer.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Answer:</label><br>
  <textarea name="answer[body]"><%=@answer.body%></textarea><br><br>
  <input type="submit" value="Edit Answer"><br>
</form><br>

<form action="/answers/<%=@answer.id%>%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post"><br>
</form>
<br><br>
