
<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %>
<%if @errors %>
  <%=erb :_errors%>
<%end%>

<br><br><div class="answer_container">
<form action="/questions/<%=@question.id%>/answers" method="post">
  <label>Body:</label><br>
  <textarea name="answer[body]"></textarea><br>
  <input type="submit" value="Submit Answer">
</form>
</div>
<br><br>
