<div class='content'>
  <h1 class='tag_header'>Tags:</h1>
  <% @tags.each do |tag| %>
    <a class="tags" href="/tags/<%= tag.id %>"><%= tag.subject %></a> |
  <% end %>
</div>

<div id="tag-form"><br>
  <form action="/tags" method="post">
    <table>
      <tr>
        <td>Create new tag:</td><br>
      </tr>
      <tr>
        <td><input type="text" name="tag[subject]" style="width:100%;"></td>
      </tr>
    </table><br>
    <input type="submit" name="Create Tag">
  </form>
</div><br><br>
