<div class='content'>
  <h1>Tags:</h1>
  <% @tags.each do |tag| %>
    <a class="tags" href="/tags/<%= tag.id %>"><%= tag.subject %></a>
  <% end %>
</div>

<div id="tag-form">
  <form action="/tags" method="post">
    <table>
      <tr>
        <td>Create new tag:</td>
      </tr>
      <tr>
        <td><input type="text" name="tag[subject]" style="width:100%;"></td>
      </tr>
    </table><br>
    <input type="submit" name="Create Tag">
  </form>
</div>
