<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %><br>
<div class="content">
  <form action="/tags" method="post">
      Create new tag:<br>
        <input type="text" name="tag[subject]" style="width:100%;">
    <input type="submit" name="Create Tag">
  </form>
</div>
<br><br>
