<div class="content">
  <form action="/tags" method="post">
      Create new tag:
        <input type="text" name="tag[name]" style="width:100%;">
        <textarea name="tag[description]" rows="5" cols="50"></textarea>
    <input type="submit" name="Create Tag">
  </form>
</div>