<div class="content">
  <form action="/tags" method="post">
      Create new tag:
        <input type="text" name="tag[subject]" style="width:100%;">
    <input type="submit" name="Create Tag">
  </form>
</div>